<div class="footer px-4 py-5 text-center">
    <div class="container mb-2 mt-3">
        <div class="row d-flex">
            <div class="col-lg-4 px-3 text-white">
                <h4 class="mb-4 fw-bolder">LOCATION</h4>
                <p class="lead">2215 John Daniel Drive
                    <br>
                    Clark, MO 65243
                </p>
            </div>
            <div class="col-lg-4">
                <h4 class="mb-4 fw-bolder text-white">AROUND THE WEB</h4>
                <ul class="socialLinks">
                    <li class="d-inline-block mx-1"><a href=""class="btn btn-outline-light rounded-circle px-3 py-3"><i class="fa-brands fa-facebook-f fs-4"></i></a></li>
                    <li class="d-inline-block mx-1"><a href=""class="btn btn-outline-light rounded-circle px-3 py-3"><i class="fa-brands fa-twitter fs-4"></i></a></li>
                    <li class="d-inline-block mx-1"><a href=""class="btn btn-outline-light rounded-circle px-3 py-3"><i class="fa-brands fa-linkedin fs-4"></i></a></li>
                    <li class="d-inline-block mx-1"><a href=""class="btn btn-outline-light rounded-circle px-3 py-3"><i class="fa-brands fa-dribbble fs-4"></i></a></li>

                </ul>
            </div>
            <div class="col-lg-4 px-4 text-white">
                <h4 class="mb-4 fw-bolder">ABOUT FREELANCER</h4>
                <p class="lead">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>
<div class="copyRight text-white text-center">
    <div class="container p-4">
        <small>Copyright © Your Website 2021</small>
    </div>
</div>