<div class="about text-white p-5">
    <div class="container d-flex justify-content-center align-items-center flex-column p-5 mb-5">
        <h1 class="fw-bold">ABOUT</h1>
        <p class="icon fs-2 position-relative mb-5"><i class="fa-solid fa-star"></i></p>
        <div class="row d-flex justify-content-center mb-5">
            <div class="col-md-4">
               <p class="fs-5"> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
                including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-4 about-txt">
               <p class="fs-5">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your
                email address to the contact form to make it fully functional!</p>
            </div>
        </div>
    </div>
</div>