<nav class="navbar navbar-expand-lg nav-bg navbar-dark py-3 px-2">
    <div class="container d-flex">
        <a class="navbar-brand cursor-pointer fw-bolder fs-4" routerLink="home">START ANGULAR</a>
        <button class="navbar-toggler rounded-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            MENU <span class="navbar-toggler-icon abs"> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">

                <li class="nav-item mx-1">
                    <a class="nav-link cursor-pointer p-3" routerLink="portfoilo">PORTFOILO</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link cursor-pointer p-3" routerLink="about">ABOUT</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link cursor-pointer p-3" routerLink="contact">CONTACT</a>
                </li>


            </ul>

        </div>
    </div>
</nav>