<div class="home p-5">
    <div class="container text-center p-5 mb-3">
        <div class="d-flex justify-content-center align-items-center flex-column text-white">
            <img src="../../assets/imgs/human.svg" alt="human img" class='w-25 rounded-circle'>
            <h1 class="fw-bolder mt-4">START ANGULAR</h1>
            <p class="icon fs-2 position-relative mt-1"><i class="fa-solid fa-star"></i></p>
            <p class="fs-4 mt-1">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</div>